<h5>Subir Archivo</h5>
<p-fileUpload mode="basic" [customUpload]="true" [auto]="true" (uploadHandler)="uploadXML($event)"></p-fileUpload>


<div class="p-card">
  <table>
    <tr>
      <th><p-chart type="bar" [data]="ingresosVsGastos"></p-chart></th>
      <th><p-chart type="line" [data]="ingresosAnuales"></p-chart></th>
    </tr>
  </table>
</div>
